.filter_wrapper {
  width: 15rem;
  background-color: transparent;
  position: relative;
}
.filter_wrapper .select_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  color: #5d5e5f;
  background-color: white;
  box-shadow: 6px 1px 5px 2px rgb(244 243 243);
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.filter_wrapper .options {
  list-style: none;
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 6px 1px 5px 2px rgb(244 243 243);
  border-radius: 5px;
  position: absolute;
  top: 3.8rem;
  color: #5d5e5f;
  transition: all 0.5s ease-in;
}
.filter_wrapper .options li {
  padding: 0.8rem;
  cursor: pointer;
}
.filter_wrapper .options li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.dark_mode-filter .select_box {
  background-color: rgb(40, 40, 40);
  box-shadow: 6px 1px 5px 2px rgb(51, 49, 49);
}
.dark_mode-filter .options {
  background-color: rgb(40, 40, 40);
  box-shadow: 6px 1px 5px 2px rgb(51, 49, 49);
}
@media only screen and (max-width: 900px) {
  .filter_wrapper {
    width: 100%;
  }
}
